#crossbars-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#quote {
    grid-column: 1;
    grid-row: 1;
}

#stats {
    grid-column: 2;
    grid-row: 1;
}

#stats svg {
    width: 90%;
}

#stats svg text {
    font-size: 6pt;
}

#stats svg .quote rect {
    fill: aliceblue;
}

#stats svg .quote text {
    fill: aliceblue;
}

#stats svg .remaining rect {
    fill: lightblue;
    stroke: lightblue;
}

#stats svg .remaining text {
    fill: lightblue;
}


#clues {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#quote input {
    margin: 5px 0px;
    border: 1px solid gray;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

#quote textarea {
    margin: 5px 0px;
    border: 1px solid gray;
    width: 100%;
    display: block;
    text-transform: uppercase;
}

td.invalid input {
    color: red;
}

table.histogram td.exhausted {
    color: gray;
}

table#clues .clue-letter {
    width: 1.25em;
    text-align: center;
}
