#quote input {
    display: block;
}

#quote textarea {
    display: block;
    text-transform: uppercase;
}

td.invalid input {
    color: red;
}

table.histogram td.exhausted {
    color: gray;
}

table#clues .clue-letter {
    width: 1.25em;
    text-align: center;
}
