#clue-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
}

.clue table {
    border-spacing: 1.1em 0;
}

.clue table td.selected {
    background-color: pink;
}

.clue .hint .clue-letter {
    font-weight: bold;
}

.clue .hint {
    font-size: 12pt;
    font-weight: normal;
}

.clue .answer-letter {
    width: 1.1em;
    font-size: 16pt;
    text-align: center;
    border-bottom: 2px solid black;
    height: 16pt;
}

.clue .answer-number {
    font-size: 8pt;
    text-align: center;
}
