#crossbars-wrapper {
    outline: 0px;
}

#overview #saved {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 0.5em;
}

#board-wrapper {
    display: flex;
    justify-content: space-around;
}

#board-wrapper svg#board {
    width: 100vw;
}

#board-wrapper svg#board .board-square {
    stroke: black;
}

#board-wrapper svg#board .board-white.selected-bg {
    stroke: pink;
}

#board-wrapper svg#board .board-white.selected {
    fill: pink;
}

#board-wrapper svg#board .board-black {
    fill: black;
}

#board-wrapper svg#board .board-white {
    fill: white;
}

#board-wrapper svg#board .number {
    font-size: 2pt;
}

#board-wrapper svg#board .clue-letter {
    font-size: 2pt;
}

#board-wrapper svg#board .letter {
    font-size: 3.5pt;
    text-transform: uppercase;
}


#clue-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 4px;
    justify-content: left;
    width: 95vw;
    max-height: 50vh;
}

#clue-list .clue table {
    border-spacing: 4px 0;
}

#clue-list .clue table td.answer-letter {
    width: 1.1em;
    font-size: 7pt;
    text-align: center;
    height: 7pt;

    border-bottom: 2px solid black;
}

#clue-list .clue table td.answer-number {
    font-size: 4pt;
    text-align: center;
}

#clue-list .clue table td.selected {
    background-color: pink;
}

#clue-list .clue table td.answer-letter.selected-bg {
    border-bottom: 2px solid pink;
}

#clue-list .clue .hint {
    font-size: 8pt;
    max-width: 20vw;
}

#clue-list .clue .hint .clue-letter {
    font-weight: bold;
}

#clue-list .clue .hint .hint-text {
    font-weight: normal;
}


#kbd-help {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#kbd-help span {
    margin: 0.2em 1em;
}
